# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SOLID_S_Single_Responsobility_Princple.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
